
      <div class="edaf" > 
        <div class="modal-dialog"> 
        <div class="modal-content">
          <div class="modal-header">
            <div class="row" style="width: 100%;">
              <div class="header">              
                <!-- <img src="assets/images/Axel_automotive_img.png">   -->
                <img src="assets/images/Swickard-Logo.png"> 
               </div>
            </div>             
          </div>
          <div class="modal-body">
              <div class="col-lg-12">
                  <div class="row justify-content-center">
                     <div class="col-lg-12 ">
                      <div class="app-container">                     
                       <router-outlet></router-outlet> 
                        </div>
                        <div class="text"></div>                   
                     </div>
                  </div>
              </div>             
          </div>         
         </div>
     </div>
    </div>
    
   
    

  